img{
    height: 450px;
    width: 575px;
    position:absolute;
}
#prev{
    position: relative;
    margin-left: 2pxpx;
    margin-top: 225px;
    color: white;
    background-color: black;
    opacity: 0.4;
    height: 35px;
}
#next{
    position: relative;
    margin-left: 523px;
    margin-top: 225px;
    color: white;
    background-color: black;
    opacity: 0.4;
    height: 35px;
}
#next:hover,#prev:hover{
    background-color: black;
    opacity: 1;

}
#b,#c{
    visibility: hidden;
}